<p>
    espresso-journal works!
</p>

<md-card>
    <md-list>
        <md-list-item>
            <img md-list-avatar src="..." alt="Desc 1">
            <h3 md-line>Title 1</h3>
            <p md-line>
                <span>An awesome description</span>
            </p>
        </md-list-item>

        <md-list-item>
            <img md-list-avatar src="..." alt="Desc 2">
            <h3 md-line>Title 2</h3>
            <p md-line>
                <span>Another awesome description</span>
            </p>
        </md-list-item>

        <md-list-item>
            <img md-list-avatar src="..." alt="Desc 3">
            <h3 md-line>Title 3</h3>
            <p md-line>
                <span>Yet another awesome description</span>
            </p>
        </md-list-item>
    </md-list>
</md-card>