.header {
    padding: 20px;
    background-color: lightyellow;
}

.logo {
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dotted;
}

.logoTitle {
    margin-top: 0px;
}

.left {
    background-color: lightblue;
}

.right {
    background-color: pink;
}

.middle {
    color: white;
    background-color: black;
}