/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat');

body {
    background-image: url('./assets/sq-image-01.svg');
    background-size: cover;
    background-repeat: no-repeat;
}